<html>
  <head>
    <title> Tagger - Tagging Library </title>
    <style>
      body {
        background-color : #8c1a3b;
      }
    </style>
    <script src="vendor.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <div id="main-content"><%-content%></div>
  </body>
</html>