<html>
  <head>
    <title> React Starter Kit </title>

    <link rel="icon" type="text/png" href="https://cdn4.iconfinder.com/data/icons/scripting-and-programming-languages/512/js-512.png">

    <script src="vendor.js" defer></script>
    <script src="app.js" defer></script>

    <script type="text/javascript">
      <% if (typeof(state) !== 'undefined') { %>
        window._state = <%- state %>;
      <% } %>
    </script>

  </head>
  <body>
    <div id="main-content"><%-content%></div>
  </body>
</html>